<!DOCTYPE html>
{{>navbar}}
<html>

<head>
	<style>
	ul.a {
		
		background: pink;
		padding: 50px;
        float: left;
        margin-top: 30px;
	}
    ul.div{
        margin-top: 20px;
    }

	</style>
</head>

<body>
	<h2 style="margin-top: 50px">
		DASHBOARD
	</h2>
	
<p> mainframe </p>

	<ul class="a">
		 
  <div > <a href="/get-attendence">Student </a></div>
  <div><a href="/login/marks">Marks</a></div>
  <div><a href="/login/marksheet">Marksheet</a></div>
  <div><a href="/reportcardmakr">reportcard</a></div>
	</ul>
</body>

</html>
